<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark shadow" style="width: 260px; min-height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4 fw-bold text-primary">🚀 Filial Retira</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto gap-2">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
        📊 Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/matriz" routerLinkActive="active" class="nav-link text-white">
        🏢 Config. Matriz
      </a>
    </li>
    <li>
      <a routerLink="/filiais" routerLinkActive="active" class="nav-link text-white">
        🏪 Config. Filiais
      </a>
    </li>
    <li>
      <a routerLink="/seguranca" routerLinkActive="active" class="nav-link text-white">
        🔑 Alterar Senha
      </a>
  </li>
  </ul>
  <hr>

  <button class="btn btn-danger mt-auto" (click)="sair()">
    <i class="bi bi-box-arrow-left"></i> Sair
  </button>
</div>