<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm px-4 py-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h5 fw-bold text-secondary">Painel de Controle B2B</span>
    
    <div class="d-flex">
      <span class="badge bg-success d-flex align-items-center p-2 px-3 shadow-sm rounded-pill">
        <span class="spinner-grow spinner-grow-sm text-light me-2" role="status" style="width: 0.8rem; height: 0.8rem;"></span>
        VPS Conectada
      </span>
    </div>
  </div>
</nav>